<h1 class="h">Lista Médicos e Consultórios</h1>
<p *ngIf="!consultorioMedicos"><em>Carregando...</em></p>
<div class="form-inline">
  <div class="mb-2" style="margin-right:30px;">
    <h2 class="h5 titulo">Selecione o Médico </h2>

    <select [(ngModel)]="MedicoId">
      <option *ngFor="let m of medicos" value={{m.id}}>
        {{m.nome}}
      </option>
    </select>
  </div>
  <div class="mb-2">
    <h2 class="h5 titulo">Selecione o Consultório </h2>
    <select [(ngModel)]="ConsultorioId">
      <option *ngFor="let c of consultorios" value={{c.id}}>
        {{c.nome}}
      </option>
    </select>
  </div>
  <div class="invalid-feedback mb-2" *ngIf="mensagem">
    <div class="alert alert-danger">
      {{mensagem}}
    </div>
  </div>
</div>
<div class="mb-4">

  <button class="btn btn-success mb-2" (click)="adicionarMedicoServico()">Vincular</button>
</div>
<table class='table table-striped' *ngIf="consultorioMedicos">
  <thead>
    <tr>
      <th>Médico</th>
      <th>Consultório</th>      
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of consultorioMedicos">
      <td>{{ c.nomeMedico }}</td>
      <td>{{ c.nomeConsultorio }}</td>      
      <td style="width:10%;"><button class="btn btn-danger"   (click)="deletarConsultorioMedico(c)">Excluir</button></td>
    </tr>
  </tbody>
</table>
